<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">Welcome to IIIT LUCKNOW Placement Portal </h4>
    </div>
</div>
<div class="row">
    <!-- Open Source -->
    <div class="col-lg-12" ng-show="!main.isLoggedIn">
        
    </div>

    <!-- Redirect to feedback page -->
    <!-- <div class="col-lg-12" ng-show="main.isLoggedIn">
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
            <h3 class="text-success"><i class="icon-like"></i> {{ main.student_name.split(' ')[0] }}, we need your feedback!</h3>
            We are constantly working on towards making the placement portal more efficient and to speed up the overall service of Placement Portal to ensure smooth transition. If you have a bug or a new feature in mind, please share your thoughts on feedback page. We are very interested in any feedback you have about using it!
            <br><br><a href="/technical" class="btn btn-outline-info">Take me to the feedback page</a>
        </div>
    </div> -->

    <!-- Interview Experience -->
    <div class="col-lg-12" ng-show="main.isLoggedIn">
        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
            <h3 class="text-info"><i class="icon-rocket"></i> Interview Experiences!</h3> Appeared for an interview? Share details about the interview process you have been through.. Now, you can add your placement/internship interview experience under Compose Interview Experience section to help others.
            <br><br><a href="/interview-experiences" class="btn btn-primary">Write Now</a>
        </div>
    </div>
   
</div>

<!-- UG Placement Stats -->
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <h3>UG Placement Statistics 2020-21</h3>
                        <h5 class="font-light m-t-0">Placement Cell, IIIT Lucknow</h5>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th class="text-center">#</th>
                        <th>BRANCH</th>
                        <th>OFFERS</th>
                        <th>PLACED</th>
                        <th>PLACEMENT</th>
                        <th>HIGHEST</th>
                        <th>AVERAGE</th>
                    </tr>
                    </thead>
                    <tbody>
                    
                    
                    <tr>
                        <td class="text-center">1</td>
                        <td class="txt-oflo">COMPUTER SCIENCE</td>
                        <td><span class="text-info">47</span></td>
                        <td class="txt-oflo">47</td>
                        <td><span class="text-info">100%</span></td>
                        <td><span class="text-success">45.82 LPA</span></td>
                        <td class="txt-oflo">18.2 LPA</td>
                    </tr>
                    <tr>
                        <td class="text-center">2</td>
                        <td class="txt-oflo">COMPUTER SCIENCE WITH AI</td>
                        <td><span class="text-info">-</span></td>
                        <td class="txt-oflo">-</td>
                        <td><span class="text-info">-</span></td>
                        <td><span class="text-success">-</span></td>
                        <td class="txt-oflo">-</td>
                    </tr>
                    <tr>
                        <td class="text-center">3</td>
                        <td class="txt-oflo">INFORMATION TECHNOLOGY</td>
                        <td><span class="text-info">-</span> </td>
                        <td class="txt-oflo">-</td>
                        <td><span class="text-info">-</span></td>
                        <td><span class="text-success">-</span></td>
                        <td class="txt-oflo">-</td>
                    </tr>
                    
                    <tr>
                        <td class="text-center"></td>
                        <td class="txt-oflo"><b>TOTAL</b></td>
                        <td><span class="text-info"><b>47</b></span></td>
                        <td class="txt-oflo"><b>-</b></td>
                        <td><span class="text-info">100%</span></td>
                        <td><span class="text-success"><b>45.82 LPA</b></span></td>
                        <td class="txt-oflo"><b>18.2 LPA</b></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- PG Placement Stats -->
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <h3>UG Placement Statistics 2019-20</h3>
                        <h5 class="font-light m-t-0">Placement Cell, IIIT Lucknow</h5>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th class="text-center">#</th>
                        <th>BRANCH</th>
                        <th>OFFERS</th>
                        <th>PLACED</th>
                        <th>HIGHEST</th>
                        <th>AVERAGE</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="text-center">1</td>
                        <td class="txt-oflo">M.Tech.</td>
                        <td><span class="text-info">-</span></td>
                        <td class="txt-oflo">-</td>
                        <td><span class="text-success">-</span></td>
                        <td class="txt-oflo">-</td>
                    </tr>
                   
                    <tr>
                        <td class="text-center">2</td>
                        <td class="txt-oflo">MBA</td>
                        <td><span class="text-info">-</span></td>
                        <td class="txt-oflo">-</td>
                        <td><span class="text-success">-</span></td>
                        <td class="txt-oflo">-</td>
                    </tr>
                    <tr>
                        <td class="text-center"></td>
                        <td class="txt-oflo"><b>TOTAL</b></td>
                        <td><span class="text-info"><b>-</b></span></td>
                        <td class="txt-oflo"><b>-</b></td>
                        <td><span class="text-success"><b>-</b></span></td>
                        <td class="txt-oflo"><b>-</b></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-body">
                <h3 class="text-center">UG + PG Package Details</h3>
                <div class="row">
                    <div class="col-6 text-center">
                        <h5 class="font-light m-t-0"><b>Maximum</b> : -</h5>
                    </div>
                    <div class="col-6 text-center">
                        <h5 class="font-light m-t-0"><b>Average</b> : -</h5>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-lg-12">
                <div class="card oh">
                    <div class="card-body bg-light">
                        <div class="row text-center m-b-20">
                            <div class="col-lg-4 col-md-4 m-t-20">
                                <h2 class="m-b-0 font-light">59</h2><span class="text-muted">Pre-Placement Offers</span>
                            </div>
                            <div class="col-lg-4 col-md-4 m-t-20">
                                <h2 class="m-b-0 font-light">210+</h2><span class="text-muted">No. of Companies Visited</span>
                            </div>
                            <div class="col-lg-4 col-md-4 m-t-20">
                                <h2 class="m-b-0 font-light">192</h2><span class="text-muted">On-Campus Internships (UG + PG)</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>
<!-- PG Placement Stats -->
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <h3>PG Placement Statistics 2019-20</h3>
                        <h5 class="font-light m-t-0">Placement Cell, IIIT Lucknow</h5>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th class="text-center">#</th>
                        <th>BRANCH</th>
                        <th>OFFERS</th>
                        <th>PLACED</th>
                        <th>HIGHEST</th>
                        <th>AVERAGE</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="text-center">1</td>
                        <td class="txt-oflo">M.Tech.</td>
                        <td><span class="text-info">72</span></td>
                        <td class="txt-oflo">72</td>
                        <td><span class="text-success">20.67 LPA</span></td>
                        <td class="txt-oflo">8.29 LPA</td>
                    </tr>
                   
                    <tr>
                        <td class="text-center">2</td>
                        <td class="txt-oflo">MBA</td>
                        <td><span class="text-info">-</span></td>
                        <td class="txt-oflo">-</td>
                        <td><span class="text-success">-</span></td>
                        <td class="txt-oflo">-</td>
                    </tr>
                    <tr>
                        <td class="text-center"></td>
                        <td class="txt-oflo"><b>TOTAL</b></td>
                        <td><span class="text-info"><b>-</b></span></td>
                        <td class="txt-oflo"><b>-</b></td>
                        <td><span class="text-success"><b>-</b></span></td>
                        <td class="txt-oflo"><b>-</b></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-body">
                <h3 class="text-center">UG + PG Package Details</h3>
                <div class="row">
                    <div class="col-6 text-center">
                        <h5 class="font-light m-t-0"><b>Maximum</b> : 38 LPA</h5>
                    </div>
                    <div class="col-6 text-center">
                        <h5 class="font-light m-t-0"><b>Average</b> : 8.9 LPA</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card oh">
                    <div class="card-body bg-light">
                        <div class="row text-center m-b-20">
                            <div class="col-lg-4 col-md-4 m-t-20">
                                <h2 class="m-b-0 font-light">-</h2><span class="text-muted">Pre-Placement Offers</span>
                            </div>
                            <div class="col-lg-4 col-md-4 m-t-20">
                                <h2 class="m-b-0 font-light">21+</h2><span class="text-muted">No. of Companies Visited</span>
                            </div>
                            <div class="col-lg-4 col-md-4 m-t-20">
                                <h2 class="m-b-0 font-light">-</h2><span class="text-muted">On-Campus Internships (UG + PG)</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>