
<div class="row page-titles">
    <div class="col-md-12 align-self-center">
        <h4 class="text-themecolor">Student Placement Co-ordinators (B.Tech.) - Batch 2020</h4>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <button class="btn btn-block btn-primary btn-rounded" data-toggle="modal" data-target="#openLetterModel"><i class="ti-bell"></i> &nbsp; Open letter to Student Placement Team 2020-2021</button>
    </div>
</div>

<!-- Model Boxes -->
<!-- Delete Company   -->
<div class="modal fade" id="openLetterModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <!-- Notification Form-->
            <div class="modal-header">
                <h4 class="modal-title" id="addCompanyNotificationModalHeader">Thank you Team!</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

            <!-- Confirm Notification -->
            
            <div class="modal-footer">
                <button type="buttom" data-dismiss="modal" class="btn btn-success">Close</button>
            </div>
        </div>
    </div>
</div>



