<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">Faculty In-Charge</h4>
    </div>

   
</div>
<div class="row">
    <div class="col-12">
        <button class="btn btn-block btn-primary btn-rounded" data-toggle="modal" data-target="#openLetterModel"><i class="ti-bell"></i> &nbsp; Open letter to Student Placement Team 2020-2021</button>
    </div>
</div>

<!-- Model Boxes -->
<!-- Delete Company   -->
<div class="modal fade" id="openLetterModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <!-- Notification Form-->
            <div class="modal-header">
                <h4 class="modal-title" id="addCompanyNotificationModalHeader">Thank you Team!</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

            <!-- Confirm Notification -->
            <div class="modal-body">
                <span>
                    Dear <b>Senior SPCs,</b>
                    <br><br>
                    We and the whole Placements and Training Cell, IIIT Lucknow thank you all, for your immense hardwork, your unconditional dedication towards IIITL and your ascetic presence in Placements Cell.
                    We have learnt a lot from you, and we are sure wherever you go in life you will uphold the values of IIITL in your heart, Placement and Training Cell wishes you good fortune (along with cookies) and all
                    the very best for all your future adventures.
                    <br><br>
                    Thank you :)
                    <br><br>
                    Your Junior SPCs
                </span>
            </div>

            <div class="modal-footer">
                <button type="buttom" data-dismiss="modal" class="btn btn-success">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-3">
                        <center class="m-t-30"> <img src="https://res.cloudinary.com/djq3sit8c/image/upload/v1619594142/PlacementIIITL/PlacementTeam/vishalkrishnasingh_fgei2z.jpg" class="img-circle" width="150" />
                            <h4 class="card-title m-t-10">Dr. Vishal Krishna Singh</h4>
                            <h6 class="card-subtitle">Placement Officer</h6>
                            <div class="row text-center justify-content-md-center" ng-show="main.isLoggedIn" ng-show="main.isLoggedIn">
                                <div class="col-12"><a href="javascript:void(0)" class="link"><i class="icon-call-in"></i> <font class="font-medium">+91 141 252 9065</font></a></div>
                            </div>
                        </center>
                    </div>

                    <div class="col-lg-3">
                        <center class="m-t-30"> <img src="https://res.cloudinary.com/djq3sit8c/image/upload/v1621513750/PlacementIIITL/PlacementTeam/vinodsir_pzkeed.jpg" class="img-circle" width="150" />
                        
                            <h4 class="card-title m-t-10">Dr. Vinod Kumar</h4>
                            <h6 class="card-subtitle">Placement Head(MBA) </h6>
                            <div class="row text-center justify-content-md-center" ng-show="main.isLoggedIn" ng-show="main.isLoggedIn">
                                <div class="col-12"><a href="javascript:void(0)" class="link"><i class="icon-call-in"></i> <font class="font-medium">+91 9549650367</font></a></div>
                            </div>
                        </center>
                    </div>

                   

                   
                </div>


            </div>
        </div>
    </div>
</div>

<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">Student Placement Co-ordinators (B.Tech.)</h4>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-3">
                        <center class="m-t-30"> <img src="https://res.cloudinary.com/djq3sit8c/image/upload/v1621513314/PlacementIIITL/PlacementTeam/saksham_d3r612.png" class="img-circle" width="150" />
                            <h4 class="card-title m-t-10">Saksham Varshney</h4>
                            <h6 class="card-subtitle">Overall Co-ordinator</h6>
                            <div class="row text-center justify-content-md-center" ng-show="main.isLoggedIn">
                                <div class="col-12"><a href="javascript:void(0)" class="link"><i class="icon-call-in"></i> <font class="font-medium">+91 8094123615</font></a></div>
                                <div class="col-12"><a href="javascript:void(0)" class="link"><i class="icon-social-linkedin"></i> <font class="font-medium">lit2018029@iiitl.ac.in</font></a></div>
                                <div class="col-12"><a href="https://www.linkedin.com/in/sakshamv30/" class="link"><i class="icon-social-linkedin"></i> <font class="font-medium">Linkedin</font></a></div>
                            </div>
                        </center>
                    </div>

                    <div class="col-lg-3">
                        <center class="m-t-30"> <img src="https://res.cloudinary.com/djq3sit8c/image/upload/e_improve,w_250,h_400,c_thumb,g_auto/v1619594739/PlacementIIITL/PlacementTeam/abhijeet_birpwh.jpg" class="img-circle" width="150" />
                            <h4 class="card-title m-t-10">Abhijeet Dwivedi</h4>
                            <h6 class="card-subtitle">B.tech Co-ordinator</h6>
                            <div class="row text-center justify-content-md-center" ng-show="main.isLoggedIn">
                                <div class="col-12"><a href="javascript:void(0)" class="link"><i class="icon-call-in"></i> <font class="font-medium">+91 9653003298</font></a></div>
                                <div class="col-12"><a href="javascript:void(0)" class="link"><i class="icon-social-linkedin"></i> <font class="font-medium">lit2018031@iiitl.ac.in</font></a></div>
                                <div class="col-12"><a href="https://www.linkedin.com/in/abhijeet-dwivedi/" class="link"><i class="icon-social-linkedin"></i> <font class="font-medium">Linkedin</font></a></div>
                            </div>
                        </center>
                    </div>
                    <div class="col-lg-3">
                        <center class="m-t-30"> <img src="https://res.cloudinary.com/djq3sit8c/image/upload/v1621513328/PlacementIIITL/PlacementTeam/satyam_mwvcfz.png" class="img-circle" width="150" />
                            <h4 class="card-title m-t-10">Satyam Patidar</h4>
                            <h6 class="card-subtitle">M.tech Co-ordinator</h6>
                            <div class="row text-center justify-content-md-center" ng-show="main.isLoggedIn">
                                <div class="col-12"><a href="javascript:void(0)" class="link"><i class="icon-call-in"></i> <font class="font-medium">+91 9653003298</font></a></div>
                                <div class="col-12"><a href="javascript:void(0)" class="link"><i class="icon-social-linkedin"></i> <font class="font-medium">mcs20026@iiitl.ac.in</font></a></div>
                                <div class="col-12"><a href="https://www.linkedin.com/in/satyampatidar/" class="link"><i class="icon-social-linkedin"></i> <font class="font-medium">Linkedin</font></a></div>
                            </div>
                        </center>
                    </div>
                   
                </div>


            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-3">
                        <center class="m-t-30"> <img src="https://res.cloudinary.com/djq3sit8c/image/upload/v1621513328/PlacementIIITL/PlacementTeam/ojas_i8v6jt.png" class="img-circle" width="150" />
                            <h4 class="card-title m-t-10">Ojas Dubey</h4>
                            <h6 class="card-subtitle">Placement Executive</h6>
                            <div class="row text-center justify-content-md-center" ng-show="main.isLoggedIn">
                                <div class="col-12"><a href="javascript:void(0)" class="link"><i class="icon-call-in"></i> <font class="font-medium">+91 8076308448</font></a></div>
                                <div class="col-12"><a href="javascript:void(0)" class="link"><i class="icon-social-linkedin"></i> <font class="font-medium">lit2018060@iiitl.ac.in</font></a></div>
                                <div class="col-12"><a href="https://www.linkedin.com/in/ojas-dubey-84581b174/" class="link"><i class="icon-social-linkedin"></i> <font class="font-medium">Linkedin</font></a></div>
                            </div>
                        </center>
                    </div>

                    <div class="col-lg-3">
                        <center class="m-t-30"> <img src="https://res.cloudinary.com/djq3sit8c/image/upload/v1621513326/PlacementIIITL/PlacementTeam/manish_efbjeh.png" class="img-circle" width="150" />
                            <h4 class="card-title m-t-10">Manish Pandey</h4>
                            <h6 class="card-subtitle">Placement Executive</h6>
                            <div class="row text-center justify-content-md-center" ng-show="main.isLoggedIn">
                                <div class="col-12"><a href="javascript:void(0)" class="link"><i class="icon-call-in"></i> <font class="font-medium">+91 9784342191</font></a></div>
                                <div class="col-12"><a href="javascript:void(0)" class="link"><i class="icon-social-linkedin"></i> <font class="font-medium">lit2018055@iiitl.ac.in</font></a></div>
                                <div class="col-12"><a href="https://www.linkedin.com/in/manish-pandey-3243b1174/" class="link"><i class="icon-social-linkedin"></i> <font class="font-medium">Linkedin</font></a></div>
                            </div>
                        </center>
                    </div>

                    <div class="col-lg-3">
                        <center class="m-t-30"> <img src="https://res.cloudinary.com/djq3sit8c/image/upload/v1621513328/PlacementIIITL/PlacementTeam/naman_lttzm4.png" class="img-circle" width="150" />
                            <h4 class="card-title m-t-10">Naman Gupta</h4>
                            <h6 class="card-subtitle">Placement Executive</h6>
                            <div class="row text-center justify-content-md-center" ng-show="main.isLoggedIn">
                                <div class="col-12"><a href="javascript:void(0)" class="link"><i class="icon-call-in"></i> <font class="font-medium">+91 7050757171</font></a></div>
                                <div class="col-12"><a href="javascript:void(0)" class="link"><i class="icon-social-linkedin"></i> <font class="font-medium">lit2018045@iiitl.ac.in</font></a></div>
                                <div class="col-12"><a href="https://www.linkedin.com/in/naman1502/" class="link"><i class="icon-social-linkedin"></i> <font class="font-medium">Linkedin</font></a></div>

                            </div>
                        </center>
                    </div>

                
                </div>
            </div>
        </div>
    </div>
</div>


