<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">Contact Details</h4>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card"> <img class="card-img" src="https://res.cloudinary.com/djq3sit8c/image/upload/v1621509013/PlacementIIITL/college_efox4g.jpg" height="456" alt="Card image">
            <div class="card-img-overlay card-inverse text-white social-profile d-flex justify-content-center" style="border-radius: 15px;">
                <div class="align-self-center"> <img src="https://res.cloudinary.com/djq3sit8c/image/upload/v1621509185/PlacementIIITL/logo_hpwmep.jpg" class="img-circle" width="120">
                    <br>
                    <br>
                    <h4 class="card-title">Placement & Training Cell</h4>
                    <h6 class="card-subtitle">INDIAN INSTITUTE OF INFORMATION TECHNOLOGY LUCKNOW
                    <br>CG CITY, LUCKNOW- 211012
                    <br>UTTAR PRADESH, INDIA</h6>
                    <!-- <p class="text-white"> Welcome to Placement and Training cell of MNIT Jaipur.  </p>-->
                    <small class="text-muted p-t-30 db">Phone</small>
                    <h6>phone number here</h6>
                    <small class="text-muted p-t-30 db">Placements Relate Queries</small>
                    <h6></h6>
                    <h6>placements@iiitl.ac.in</h6>
                </div>
            </div>
        </div>
    </div>
</div>
